<!--<h1 class="homecontent" style="justify-content: center;
    display: flex">InstruRental</h1> -->

<div class="titlecard">
<a href="<%= instruments_path %>">
  <div class="homeleft">
    <p class="textleft">Need an instrument? Click here</p>
  </div>
 </a>

<a href="<%= new_instrument_path %>">
  <div class="homeright">
    <p class="textright">Have a spare instrument? Click here</p>
  </div>
</a>
</div>

