<!--<h1 class="homecontent" style="justify-content: center;
    display: flex">InstruRental</h1> -->

<div class="titlecard">
  <div class="homecontent3">
    <h2><strong> Rent, Lend and Play</strong></h2>
    <br>
    <div class="homelink">
      <p><%= link_to "Need an instrument? Click here", instruments_path %></p>
    </div>
    <div class="homelink">
      <p><%= link_to "Have a spare instrument? Click here", new_instrument_path %></p>
    </div>
  </div>
</div>
