<h1 class="homecontent" style="justify-content: center;
    display: flex">Major Instrument Marketplace</h1>
<br>
<div class="titlecard">
  <div class="homecontent">
    <h2><strong> Rent, Lend and More</strong></h2>
    <br>
    <p>Need an instrument? <strong> <%= link_to "Lend", new_instrument_path%></strong></p>
    <p>Have a spare instrument? <strong> <%= link_to "Rent", instruments_path %> </strong> </p>
  </div>
  <br>
  <%= link_to "Continue to Instruments", instruments_path, class:"homecontent"%>
</div>
