// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

@import "flatpickr/dist/flatpickr.css";

// Your CSS partials
@import "components/index";
@import "pages/index";

.titlecard {
  //background-image: asset-url("home.jpg");
  //background-size: cover;
  height: 100vh;
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homeleft,
.homeright {
  position: relative;
  width: 50vw;
  height: 100vh;
  background-size: cover;
  transition: transform 0.3s ease;
  // border-radius: 10px;
}

.homeleft::before,
.homeright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.homeleft {
  background-image: url("horn.jpg");
  background-position-x: -50px;
}

.homeleft:hover {
  transform: scale(1.05);
}

.homeleft:hover::before {
  opacity: 0;
}

.homeright {
  background-image: url("drums.jpg");
  background-position-x: -90px;
}

.homeright:hover {
  transform: scale(1.05);
}

.homeright:hover::before {
  opacity: 0;
}

.textleft, .textright {
  font-size: 1.5em; /* Adjust the font size as desired */
  color: white;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 33%; /* Adjust the value to position the text in the upper two-thirds of the card */
  left: 0;
  right: 0;
  margin: 0;
}

.textleft {
  text-align: center;
}

.textright {
  text-align: center;
}

.titlecard a {
  text-decoration: none;
}

.titlecard a:hover {
  text-decoration: none;
}


.homelink {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.homelink p a {
  text-decoration: none;
  color: white;
}

.homelink:hover {
  transform: scale(1.1);
  color: white;
}
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navheader {
  color: white;
  padding-top: 5px;
}
.logo{
  // border-style: solid;
  // border-color: lightblue;
  // border-width: 4px;
  //padding: 1px;
  //border-radius: 1px;
  height: 80px;
  //margin-right: 10px;
  // overflow: hidden;
  transform: scale(0.6)
}

.container-fluid{
  background-color: rgb(136, 50, 37);
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.navbar-lewagon {
  height: 40px;
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.116) 100%), rgb(136, 50, 37);
  position: sticky;
  top: 0;
  z-index: 100;
  //border-bottom: 4px solid rgba(0, 0, 0, 0.091);
}


body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.116) 100%); // url('https://img.freepik.com/free-vector/musical-instrument-set_74855-5898.jpg?w=2000');
  min-height: 100vh;
}

.nav-link {
  color:white;
}

.homecontent {
  background-color: rgb(136, 50, 37);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 20px;
  margin-left: 10px;
}

.homecontent2 {
  background-color: rgb(136, 50, 37);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 20px;
  margin-left: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
  transition: transform 0.3s ease;
}

.homecontent3 {
  background-color: rgb(136, 50, 37);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 80px;
  margin-left: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
  transition: transform 0.3s ease;
}

.homecontent4 {
  background-color: rgb(136, 50, 37);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  // margin: 80px;
  //margin-left: 20px;
  //margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
  transition: transform 0.3s ease;
}

.homecontent2:hover {
  transform: scale(1.1);
  color: white;
}

.homecontent4:hover {
  transform: scale(1.05);
  color: white;
}

.instrumentheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: WHITE;
}

.allinstruments {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.instrumentdetail {
  width: 350px;
  height: 300px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
  transition: transform 0.3s ease;
}

.instrumentdetail:hover {
  transform: scale(1.1);
}

.instrumentdetail img {
  max-width: 100%;
  max-height: 75%;
  object-fit: contain;
}

.instrumentdetail p {
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.showdetail {
  width: 45%;
  height: 70vh;
  padding: 15px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
  transition: transform 0.3s ease;
}

.mapsize {
  width: 45%;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
}

.instrument-link {
  text-decoration: none;
  color: black;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
