// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.logo{
  border-style: solid;
  border-color: lightblue;
  border-width: 4px;
  padding: 1px;
  border-radius: 1px;
}

.container-fluid{
  background-color: grey;
}

.navbar-lewagon{
  background-color: lightblue;
}

body{
  background-image: url('https://img.freepik.com/free-vector/musical-instrument-set_74855-5898.jpg?w=2000');
  // background-image: '/home/clemente/code/Cleelele/-Instruments_Marketplace/app/assets/images/background.png';
}

.nav-link{
  color: lightblue;
}

.homecontent{
  background-color: lightblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
}

.allinstruments {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.instrument {
  width: 350px;
  height: 300px;
  background-color: white;
  padding: 10px;
  margin: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.275);
  border-radius: 5px;
}
