// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.logo{
  border-style: solid;
  border-color: lightblue;
  border-width: 4px;
  padding: 1px;
  border-radius: 1px;
}

.container-fluid{
  background-color: grey;
}

.navbar-lewagon{
  background-color: lightblue;
}

body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.285) 100%), url('https://img.freepik.com/free-vector/musical-instrument-set_74855-5898.jpg?w=2000');
  min-height: 100vh;
}

.nav-link{
  color: lightblue;
}

.homecontent{
  background-color: lightblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin: 20px;
}

.instrumentheader{
  padding: 20px;
  color: WHITE
}

.allinstruments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.instrumentdetail {
  width: 300px;
  height: 250px;
  padding: 15px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.106);
}
