<div class="instrumentheader">
<h2 class="homecontent">All available instruments</h2>
</div>

<div class="allinstruments">


  <% @instruments.each do |instrument|  %>
    <div class="instrumentdetail">
      <p><strong><%= instrument.category %></strong></p>
      <p>$<%= instrument.price %></p>
      <%= link_to "Go to this instrument's page", instrument_path(instrument)%>
    </div>
  <% end %>
</div>
<%= link_to "Add an instrument", new_instrument_path, class:"homecontent" %>
