<%= link_to "Add an instrument", new_instrument_path, class:"homecontent" %>
<ol>
<% @instruments.each do |instrument|  %>
<li><%= instrument.category %></li>
<li><%= instrument.price %></li>
<%= link_to "Go to this instrument's page", instrument_path(instrument)%>
<% end %>
